absl-py==2.3.1
accelerate==1.13.0
aiodns==3.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
altair==5.5.0
annotated-doc==0.0.3
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
audioread==3.1.0
babel==2.18.0
beautifulsoup4==4.13.4
bidict==0.23.1
bitsandbytes==0.49.2
blinker==1.9.0
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.2
ccxt==3.0.59
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
ConfigArgParse==1.7.5
contourpy==1.3.2
courlan==1.3.2
coverage==7.13.5
cryptography==45.0.3
cycler==0.12.1
dash==4.2.0
datasets==3.6.0
dateparser==1.4.0
debugpy==1.8.14
decorator==5.2.1
deep-translator==1.11.4
diffusers==0.37.1
dill==0.3.8
distro==1.9.0
docopt==0.6.2
einops==0.8.2
exceptiongroup==1.3.0
executing==2.2.0
Farama-Notifications==0.0.4
fastapi==0.112.4
fastjsonschema==2.21.2
ffmpy==0.6.4
filelock==3.18.0
fla-core==0.4.2
flash-linear-attention==0.4.2
Flask==3.1.3
flask-cloudflared==0.0.15
flask-cors==6.0.1
Flask-SocketIO==5.5.1
flatbuffers==25.2.10
fonttools==4.59.1
frozenlist==1.6.0
fsspec==2025.3.0
gast==0.6.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.41.1
google-auth-oauthlib==1.2.3
google-pasta==0.2.0
gradio @ https://github.com/oobabooga/gradio/releases/download/4.37.2-custom.19/gradio-4.37.2+custom.19-py3-none-any.whl#sha256=c858851b5800a9e1a431e0d53a093c5642624853505c8f91b36c8d3f50dcf7c7
gradio_client @ https://github.com/oobabooga/gradio/releases/download/4.37.2-custom.19/gradio_client-1.0.2+custom.19-py3-none-any.whl#sha256=1155795d95fce5677ecdd3cc836a88e85e0ed7647813f92d269a72c9cb5fe5d8
greenlet==3.2.4
groovy==0.1.2
grpcio==1.74.0
gym==0.26.2
gym-notices==0.0.8
gym-trading-env==0.3.5
gymnasium==1.1.1
h11==0.16.0
h5py==3.14.0
hf-xet==1.4.2
html2text==2025.4.15
htmldate==1.9.4
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.5.0
humanfriendly==10.0
icrawler==0.6.10
idna==3.10
ik_llama_cpp_binaries @ https://github.com/oobabooga/llama-cpp-binaries/releases/download/v0.110.0/ik_llama_cpp_binaries-0.110.0+cu124-py3-none-win_amd64.whl#sha256=7a721e90a6e5e46363c10b20f2c585f07964afeca18129965e12ffe6bb003cb9
imageio==2.37.0
imgviz==1.7.6
importlib_metadata==8.7.0
importlib_resources==6.5.2
imutils==0.5.4
iniconfig==2.3.0
interrogate==1.7.0
ipykernel==6.29.5
ipython==8.38.0
ipywidgets==8.1.7
itsdangerous==2.2.0
janus==2.0.0
jax==0.6.2
jaxlib==0.6.2
jedi==0.19.2
Jinja2==3.1.6
jiter==0.14.0
joblib==1.5.1
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.15
jusText==3.0.2
keras==3.12.0
kiwisolver==1.4.9
labelme==5.9.1
langchain==1.2.15
langchain-core==1.2.29
langgraph==1.1.6
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.9
langgraph-sdk==0.3.13
langsmith==0.7.31
lap==0.5.12
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
lightning-utilities==0.15.2
llama_cpp_binaries @ https://github.com/oobabooga/llama-cpp-binaries/releases/download/v0.110.0/llama_cpp_binaries-0.110.0+cu124-py3-none-win_amd64.whl#sha256=d29972211350d2d3ff3bbfa4c91d2106e93c28c6922d064306b6758e268b3d0a
llvmlite==0.44.0
loguru==0.7.3
lxml==6.0.1
lxml_html_clean==0.4.4
mando==0.7.1
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mcp==1.27.0
mdurl==0.1.2
mediapipe==0.10.9
ml_dtypes==0.5.3
more-itertools==10.7.0
mplfinance==0.12.10b0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.4.3
multiprocess==0.70.16
namex==0.1.0
narwhals==2.10.2
natsort==8.4.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.2
num2words==0.5.14
numba==0.61.2
numpy==2.2.6
oauthlib==3.3.1
omegaconf==2.3.0
onnxruntime==1.23.1
onnxruntime-gpu==1.15.1
open3d==0.19.0
openai==2.31.0
openai-whisper==20250625
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
optree==0.17.0
orjson==3.11.8
ormsgpack==1.12.2
osam==0.2.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
pandas_ta==0.3.14b0
parso==0.8.4
peft==0.18.1
pillow==10.4.0
platformdirs==4.3.8
playwright==1.55.0
plotly==6.7.0
pluggy==1.6.0
polars==1.35.1
polars-runtime-32==1.35.1
pooch==1.8.2
prettytable==3.16.0
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==6.33.6
psutil==7.0.0
pure_eval==0.2.3
py==1.11.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
pycares==4.8.0
pycparser==2.22
pydantic==2.11.0
pydantic-settings==2.13.1
pydantic_core==2.33.0
pydeck==0.9.1
pydub==0.25.1
pyecharts==2.0.8
pyee==13.0.0
Pygments==2.19.1
PyJWT==2.12.1
PyMuPDF==1.27.2.2
pyparsing==3.2.3
PyPDF2==3.0.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.1
pyreadline3==3.5.4
PySocks==1.7.1
pytest==9.0.3
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.1
python-engineio==4.12.2
python-multipart==0.0.20
python-socketio==5.13.0
pytz==2025.2
pywin32==310
PyYAML==6.0.3
pyzmq==26.4.0
radon==6.0.1
referencing==0.37.0
regex==2026.2.28
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.4.2
rich==13.9.4
rpds-py==0.28.0
rsa==4.9.1
ruff==0.14.3
safehttpx==0.1.7
safetensors==0.7.0
scikit-image==0.25.2
scikit-learn==1.7.1
scipy==1.15.3
seaborn==0.13.2
selenium==4.35.0
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.57.0
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.3
soundfile==0.13.1
soupsieve==2.7
soxr==1.0.0
sse-starlette==1.6.5
stack-data==0.6.3
starlette==0.38.6
streamlit==1.40.1
sympy==1.13.1
tabulate==0.10.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
tf_keras==2.20.1
threadpoolctl==3.6.0
tifffile==2025.5.10
tiktoken==0.9.0
timm==0.6.12
tld==0.13.2
tokenizers==0.22.2
toml==0.10.2
tomli==2.4.1
tomlkit==0.12.0
torch==2.5.1+cu121
torch-geometric==2.6.1
torch_cluster==1.6.3+pt25cu121
torch_scatter==2.1.2+pt25cu121
torch_sparse==0.6.18+pt25cu121
torch_spline_conv==1.2.2+pt25cu121
torchao==0.15.0
torchaudio==2.5.1+cu121
torchmetrics==1.8.2
torchutils==0.0.4
torchvision==0.20.1+cu121
tornado==6.5.2
tqdm==4.67.1
trafilatura==2.0.0
traitlets==5.14.3
transformers==5.5.0
trio==0.30.0
trio-websocket==0.12.2
triton-windows==3.5.1.post24
typer==0.20.0
typer-slim==0.20.0
typing-inspection==0.4.2
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
ultralytics==8.3.224
ultralytics-thop==2.0.18
urllib3==2.5.0
uuid_utils==0.14.1
uvicorn==0.38.0
vaderSentiment==3.3.2
wandb==0.25.1
watchdog==6.0.0
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.1.3
widgetsnbextension==4.0.14
win32_setctime==1.2.0
wrapt==1.14.2
wsproto==1.2.0
xxhash==3.5.0
yarl==1.20.0
zipp==3.21.0
zstandard==0.25.0
